.footer{
    background-color: $color-dark;
    height: 50px;
    &__wrapper{
        height: 100%;
        display: flex;
        justify-content: center; 
        align-items: center;
        a{
            color: $color-light;
            font-size: $font-size-xs;
        }
    }
}
